.add-exams {
  @include d-flex($dir: column, $gap: $space-2);

  &__title {
    font-size: 14px;
    font-weight: 600;

    @include screen-md {
      font-size: 16px;
    }
  }

  &__list {
    @include d-flex($dir: row, $gap: $space-2 $space-3);
    flex-wrap: wrap;
    list-style: none;

    @include screen-md {
      gap: $space-3 $space-4;
    }
  }

  &__exam {
    color: $blue-550;
    font-size: 14px;
    border: 1px solid $blue-550;
    border-radius: $radius-md;
    padding: $space-1 $space-3;

    @include screen-md {
      font-size: 16px;
    }
  }
}
