.program-details {
  @include d-flex($dir: row, $gap: $space-6);
  flex-wrap: wrap;

  &__item {
    position: relative;

    @include screen-md {
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: calc(-#{$space-6} / 2);
        bottom: 0;
        width: 2px;
        background-color: $bg-grey;
        border-radius: $radius-sm;
      }
    }
  }
}
