$white: #fff;
$black: #000;

$grey-100: #f1f5f9;
$grey-200: #e2e8f0;
$grey-400: #c4c5c8;
$grey-600: #999b9e;

$blue-300: #5ab4ff;
$blue-500: #00ccc5;
$blue-900: #204462;

$green-500: #00a416;
$orange-500: #d67e29;
