.faculty-header {
  @include d-flex($dir: row, $ai: center);
  width: 100%;
  border: 2px solid $border-primary;
  border-radius: $radius-md;
  padding: $space-3 $space-2;

  @include screen-md {
    padding: $space-4 $space-3;
  }

  &__icon-wrapper,
  &__more-wrapper {
    flex-shrink: 0;
    background-color: $bg-grey;
    padding: $space-1;

    @include screen-md {
      padding: $space-2;
    }
  }

  &__icon-wrapper {
    border-radius: $radius-sm;
    margin-right: $space-2;
  }

  &__icon {
    width: $icon-size-md;
    height: $icon-size-md;
    color: $icon-primary;

    @include screen-md {
      width: $icon-size-lg;
      height: $icon-size-lg;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    margin-right: $space-2;

    @include screen-md {
      font-size: 16px;
    }
  }

  &__more-wrapper {
    @include d-flex($dir: row, $ai: center);
    border-radius: $radius-100;
    margin-left: auto;
  }

  &__more-icon {
    width: $icon-size-sm;
    height: $icon-size-sm;
    color: $icon-primary;

    @include screen-md {
      width: $icon-size-md;
      height: $icon-size-md;
    }
  }
}
