.faculty-header {
  @include d-flex($gap: $space-2);
  width: 100%;

  padding: $space-3 $space-2;
  overflow: hidden;

  &__icon {
    flex-shrink: 0;
    width: $icon-size-lg;
    height: $icon-size-lg;
    background-color: rgba($blue-350, 0.2);
    border-radius: $radius-sm;
    padding: $space-1;
  }

  &__content {
    @include d-flex($dir: column, $gap: $space-1, $ai: start);
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: start;
  }

  &__info {
    @include d-flex($ai: start);

    @media (max-width: 430px) {
      flex-direction: column;
    }
  }

  &__programs-count,
  &__toggle {
    font-size: 12px;
  }

  &__programs-count {
    color: $blue-300;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__toggle {
    @include d-flex($ai: center);
    color: $grey-600;

    &::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: $turquoise-600;
      border-radius: $radius-100;
      margin: 0 $space-2;

      @media (max-width: 430px) {
        display: none;
      }
    }
  }

  &__more {
    flex-shrink: 0;
    width: $icon-size-lg;
    height: $icon-size-lg;
    border: 1px solid $grey-100;
    border-radius: $radius-sm;
    box-shadow: $shadow-soft;
    padding: $space-1;
    margin-left: auto;
  }
}
