.modal {
  @include d-flex($dir: column, $jc: flex-end, $ai: center);
  position: absolute;
  inset: 0;
  background-color: rgba($black, 0.3);

  @include screen-md {
    justify-content: center;
    align-items: center;
  }

  &__main {
    @include d-flex($dir: column, $gap: $space-3);
    width: 90%;
    background-color: $white;
    border-radius: $radius-md $radius-md 0 0;
    padding: $space-4 $space-2;
    z-index: 1;

    @include screen-md {
      max-width: 560px;
      width: 100%;
      border-radius: $radius-md;
      padding: $space-5 $space-3;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;

    @include screen-md {
      font-size: 20px;
    }
  }
}
