.program-content {
  &__details {
    padding: $space-7 var(--program-section-padding-inline);

    @include screen-md {
      padding-block: $space-8;
    }
  }

  &__capacity,
  &__exams {
    padding: var(--program-section-padding-block)
      var(--program-section-padding-inline);
  }

  &__capacity {
    position: relative;
    background-color: rgba($blue-350, 0.04);
    border-block: var(--program-section-border);
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 120px;
      height: 120px;
      background: url("@/assets/icons/ui/users-rounded.svg") no-repeat;
      opacity: 0.06;
      z-index: -1;
    }
  }
}
