.detail-item {
  @include d-flex($dir: row, $gap: $space-2, $ai: center);

  @include screen-md {
    gap: $space-3;
  }

  &__icon {
    @include d-flex($ai: center, $jc: center);
    width: $icon-size-xl;
    height: $icon-size-xl;
    background-color: rgba($blue-350, 0.05);
    border: 1px solid $grey-200;
    border-radius: $radius-md;
    padding: $space-1;

    svg {
      color: $turquoise-600;
    }
  }

  &__info {
    @include d-flex($dir: column, $gap: $space-1);
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    color: $grey-600;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @include screen-md {
      font-size: 14px;
    }
  }

  &__content {
    font-size: 16px;
    font-weight: 600;

    @include screen-md {
      font-size: 18px;
    }
  }
}
