.program-spec {
  @include d-flex($dir: column, $gap: $space-4);

  &__header {
    @include d-flex($dir: row, $gap: $space-2, $ai: center);
  }

  &__icon-wrapper {
    @include d-flex($dir: column, $ai: center, $jc: center);
    background-color: rgba($blue-500, 0.1);
    border-radius: $radius-md;
    padding: $space-1;
  }

  &__icon {
    color: $icon-secondary;
    width: $icon-size-md;
    height: $icon-size-md;

    @include screen-md {
      width: $icon-size-lg;
      height: $icon-size-lg;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;

    @include screen-md {
      font-size: 20px;
    }
  }

  &__list {
    @include d-flex($dir: column, $gap: $space-2);
    list-style: none;
  }

  &__item {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba($bg-grey, $alpha: 0.3);
    border-radius: $radius-md;
    padding: $space-2 $space-1;
    padding-left: $space-4;

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: $radius-100;
      background-color: rgba($blue-550, 0.5);
    }

    @include screen-md {
      font-size: 16px;
      padding-left: $space-5;

      &::before {
        top: 16px;
        left: 8px;
      }
    }
  }
}
