.program-content {
  border: 2px solid $border-primary;
  border-radius: $radius-md;
  padding: $space-3 $space-2;

  @include screen-md {
    padding: $space-4 $space-3;
  }

  &__specializations,
  &__details {
    margin-top: $space-5;
  }

  &__capacity,
  &__exams {
    margin-top: $space-6;
  }
}
