.program-item {
  --program-item-section-padding: #{$space-3};

  border: 1px solid $border-primary;
  border-radius: $radius-md;
  box-shadow: $shadow-soft;

  @include screen-md {
    --program-item-section-padding: #{$space-4};
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $motion-base;
  }

  &__content-wrapper {
    min-width: 0;
    overflow: hidden;
  }

  &__content-inner {
    border-top: 1px solid $grey-200;
  }

  &_expanded {
    .program-item__content {
      grid-template-rows: 1fr;
    }
  }
}
