.program-item {
  --program-section-border: 1px solid #{$grey-200};
  --program-section-padding-inline: #{$space-3};
  --program-section-padding-block: #{$space-4};

  --program-section-content-gap: #{$space-4};

  border: 1px solid $border-primary;
  border-radius: $radius-md;
  box-shadow: $shadow-soft;
  transition: border-color $motion-base ease-in-out;

  @include screen-md {
    --program-section-padding-inline: #{$space-4};
    --program-section-padding-block: #{$space-5};

    --program-section-content-gap: #{$space-5};
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $motion-base;
  }

  &__content-wrapper {
    min-width: 0;
    overflow: hidden;
  }

  &__content-inner {
    border-top: 1px solid $grey-200;
  }

  &_expanded {
    border-color: rgba($turquoise-500, 0.4);

    .program-item__content {
      grid-template-rows: 1fr;
    }
  }
}
