.program-preview {
  &__badges,
  &__profiles {
    border-bottom: 1px solid $grey-200;
  }

  &__badges {
    padding: $space-4 $space-3;

    @include screen-md {
      padding: $space-5 $space-4;
    }
  }

  &__profiles {
    @include d-flex($dir: column, $gap: $space-5);
    background-color: rgba($blue-350, 0.03);
    padding: var(--program-item-section-padding);

    @include screen-md {
      gap: $space-6;
    }
  }

  &__more {
    padding: $space-4 $space-3;

    @include screen-md {
      @include d-flex($dir: column, $ai: center);
      padding: $space-5 $space-4;
    }
  }

  &__more-btn {
    --button-width: 100%;

    @include screen-md {
      --button-width: 400px;
    }
  }
}
