.program-item-preview {
  &__profiles {
    @include d-flex($dir: column, $gap: $space-5);
    position: relative;
    background-color: rgba($bg-grey, $alpha: 0.3);
    border: 1px solid $border-primary;
    border-radius: $radius-md;
    padding: $space-5 $space-3;
    margin-top: $space-6;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      width: clamp(120px, 18vw, 160px);
      height: clamp(120px, 18vw, 160px);
      background-color: rgba($blue-350, 0.2);
      mask: url("@/assets/patterns/big-dots.svg") top right/contain no-repeat;
      pointer-events: none;
    }
  }
}
