.faculty-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $motion-base ease-in;

  &_expanded {
    grid-template-rows: 1fr;
  }

  &__content-wrapper {
    min-width: 0;
    overflow: hidden;
  }

  &__content-inner {
    @include d-flex($dir: column, $gap: $space-5);
    border-top: 1px solid $grey-200;
    padding: $space-4 $space-3;
    overflow: hidden;

    @include screen-md {
      gap: $space-7;
      padding: $space-5 $space-4;
    }
  }
}
