.exam-item {
  @include d-flex($dir: row, $ai: center, $gap: $space-2);
  border: 1px solid $border-primary;
  border-radius: $radius-lg;
  padding: $space-2;

  @include screen-md {
    gap: $space-3;
  }

  &__badge {
    flex-shrink: 0;
    max-width: 60px;
    border-radius: $radius-md;
    font-size: 10px;
    text-align: center;
    padding: $space-1;
    margin-left: auto;

    @include screen-md {
      max-width: 70px;
      font-size: 12px;
    }
  }

  &_ege {
    .exam-item__badge {
      color: $blue-550;
      border: 1px dashed rgba($blue-550, 0.5);
    }
  }

  &_vi {
    .exam-item__badge {
      color: $blue-350;
      border: 1px dashed rgba($blue-350, 0.5);
    }
  }
}
