.program-capacity {
  @include d-flex($dir: column);

  @include screen-md {
    &::after {
      width: 100px;
      height: 100px;
    }
  }

  &__items {
    @include d-flex($dir: column, $gap: $space-3);
    margin-top: var(--program-section-content-gap);

    @include screen-md {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      gap: $space-5;
    }
  }

  &__note {
    align-self: start;
    margin-top: $space-7;
  }
}
