.program-exams {
  @include d-flex($dir: column, $gap: $space-5);

  &__header {
    @include d-flex($dir: row, $ai: center, $gap: $space-2);

    @include screen-md {
      gap: $space-3;
    }
  }

  &__icon {
    @include d-flex($ai: center, $jc: center);
    flex-shrink: 0;
    width: $icon-size-lg;
    height: $icon-size-lg;
    color: $icon-secondary;
    background-color: $bg-icon-primary;
    border-radius: $radius-md;
    padding: $space-1;

    @include screen-md {
      width: $icon-size-xl;
      height: $icon-size-xl;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;

    @include screen-md {
      font-size: 18px;
    }
  }

  &__main {
    @include d-flex($dir: column, $gap: $space-5);

    @include screen-md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background-color: $border-primary;
        border-radius: $radius-md;
      }
    }
  }
}
