.program-exams {
  @include d-flex($dir: column, $gap: $space-5);
  border: 1px solid $border-primary;
  border-radius: $radius-md;
  padding: $space-5 $space-3;

  &__header {
    @include d-flex($dir: row, $ai: center, $gap: $space-2);
  }

  &__icon-wrapper {
    @include d-flex($dir: column, $ai: center);
    color: $icon-primary;
    background-color: rgba($blue-500, 0.1);
    border-radius: $radius-md;
    padding: $space-1;
  }

  &__icon {
    width: $icon-size-md;
    height: $icon-size-md;
    color: $icon-secondary;

    @include screen-md {
      width: $icon-size-lg;
      height: $icon-size-lg;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;

    @include screen-md {
      font-size: 20px;
    }
  }

  &__main {
    @include d-flex($dir: column, $gap: $space-5);

    @include screen-md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background-color: $border-primary;
        border-radius: $radius-md;
      }
    }
  }
}
