@import "@fontsource/inter/cyrillic-400.css";
@import "@fontsource/inter/cyrillic-500.css";
@import "@fontsource/inter/cyrillic-600.css";
@import "@fontsource/inter/cyrillic-700.css";

:where(#edu-tree-root) {
  font-family: "Inter", system-ui, sans-serif;
  color: #204462;
}

:where(#edu-tree-root),
:where(#edu-tree-root) *,
:where(#edu-tree-root) *::before,
:where(#edu-tree-root) *::after {
  box-sizing: border-box;
}

#edu-tree-root :where(h1, h2, h3, h4, p, ul, ol, li) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#edu-tree-root
  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a,
    button,
    input,
    textarea,
    select,
    li
  ) {
  font-family: inherit;
}

:where(#edu-tree-root) :where(ul, ol) {
  padding-left: 0;
  list-style: none;
}

:where(#edu-tree-root) :where(button) {
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

:where(#edu-tree-root) :where(button:hover) {
  cursor: pointer;
}

:where(#edu-tree-root) :where(svg) {
  vertical-align: middle;
}
