@use "./tokens/" as tokens;

@mixin screen-md {
  @media (min-width: tokens.$bp-md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: tokens.$bp-lg) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin d-flex($dir: row, $jc: null, $ai: null, $gap: null, $inline: null) {
  display: if($inline, inline-flex, flex);

  @if $dir {
    flex-direction: $dir;
  }

  @if $jc {
    justify-content: $jc;
  }

  @if $ai {
    align-items: $ai;
  }

  @if $gap {
    gap: $gap;
  }
}
