.badge {
  --badge-text-color: inherit;
  --badge-font-size: 12px;
  --badge-font-weight: 500;
  --badge-bg-color: transparent;

  display: inline-block;
  color: var(--badge-text-color);
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  line-height: 1.2;
  background-color: var(--badge-bg-color);
  border-radius: $radius-sm;
  padding: $space-1 $space-3;
  overflow: hidden;

  @include screen-md {
    --badge-font-size: 14px;
  }

  &_blue {
    --badge-text-color: #{$blue-350};
    --badge-bg-color: #{rgba($blue-300, 0.12)};
  }

  &_teal {
    --badge-text-color: #{$turquoise-600};
    --badge-bg-color: #{rgba($turquoise-500, 0.12)};
  }

  &_red {
    --badge-text-color: #{$red-700};
    --badge-bg-color: #{rgba($red-500, 0.12)};
  }

  &_gold {
    --badge-text-color: #{$gold-700};
    --badge-bg-color: #{rgba($gold-500, 0.12)};
  }

  &_green {
    --badge-text-color: #{$green-700};
    --badge-bg-color: #{rgba($green-500, 0.12)};
  }
}
