@use "../tokens/" as tokens;

$text-primary: tokens.$blue-900;
$text-secondary: tokens.$blue-500;

$bg-grey: tokens.$grey-200;
$bg-active: tokens.$blue-500;

$bg-icon-primary: rgba(tokens.$turquoise-500, 0.12);

$border-primary: tokens.$grey-200;
$border-active: rgba(tokens.$blue-300, 0.5);

$icon-primary: tokens.$blue-900;
$icon-secondary: tokens.$turquoise-600;
$icon-white: tokens.$white;
